* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  margin: 1.5rem 1.5rem;
  padding: 1.5rem;
  background-color: #f0f0f0;
}

main {
  margin: 1rem 1rem;
}

section {
  margin-bottom: 2rem;
  text-align: left;
}

section p {
  margin: 0.3rem 1rem;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #999999;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #999999;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a img {
  margin: 0.5rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #aadcfd;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1100;
}

.boton {
  display: flex;
  justify-content: end;

}

.modal-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  /* Color del icono */
  font-size: 1.5rem;
}

.container {
  text-align: center;
  padding: 1.1rem;
}

.title {
  margin: 0;
  padding-bottom: 1.5rem;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.input-filtrar {

  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 1rem 0 1rem;
}

.button {
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  box-shadow: 0 0 1rem rgba(32, 32, 32, 0.3);
  color: rgb(0, 0, 0);
  padding: 1rem;
  cursor: pointer;
  transition: color 0.5s ease;
  transition: background-color 1.5s ease;
  font-size: 1rem;
}

.button:hover {
  background-color: rgb(67, 138, 71);
  box-shadow: 0 0 1rem rgba(32, 32, 32, 0.3);
  color: rgb(255, 255, 255);
  padding: 1rem;
  cursor: pointer;
}

.opciones {
  padding: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: end;
}

.opciones button {
  margin: 0 0.1rem;
  border: 0.05rem solid #4d4d4d;
  background-color: rgb(118, 177, 255);
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #141414;
  transition: background-color 0.4s ease;
}

.opciones button:hover {
  margin: 0 0.1rem;
  border: 0.05rem solid #4d4d4d;
  background-color: rgb(180, 180, 180);
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #141414;
}

.celda-angosta {
  text-align: center;
  vertical-align: middle;
  width: 3rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 8px;
  color: #333;
}

.card p {
  margin-bottom: 8px;
  color: #666;
}

.titulo {
  margin: 0 0 0 1rem;
}

.activado {
  background-color: rgb(114, 179, 112);
  color: white;
}

.desactivado {
  background-color: rgb(207, 37, 37);
  color: white;
}

.filtro-boton {
  margin: 0.2rem 0 0 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.1rem rgba(32, 32, 32, 0.3);
  padding: 0.2rem 1rem;
  cursor: pointer;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  font-size: 1rem;
}